@import "tailwindcss";

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.parent {
  @apply w-full min-h-screen;
}

.container {
  @apply max-w-[500px] max-h-[800px] m-auto rounded-2xl;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.container::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}
